<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="RockPaperScissors With AI" Language="1033" Version="1.0.0.0" Manufacturer="WSEI" UpgradeCode="53a6148d-0cb6-4d36-80db-b628c1575e59">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="RockPaperScissors With AI" Level="1">
			<ComponentRef Id="DesktopShortcut" />
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RockPaperScissorsWithAI" />
				<Directory Id="DesktopFolder" Name="Desktop"/>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			 <Component Id="ProductComponent">
				 <File Source="$(var.RockPaperScissorsWithAI.TargetPath)" />
			 </Component>
			<Component Id="ProductComponent2">
				<File Source="$(var.RPSClassLib.TargetPath)" />
			</Component>

		</ComponentGroup>
	</Fragment>

	<Fragment>
		<Component Id="DesktopShortcut" Directory="INSTALLFOLDER" Guid="*">
			<RegistryValue Id="RegShortcutDesktop"
					Root="HKCU"
					Key="Software\Company\RockPaperScissorsWithAI"
					Name="DesktopSC"
					Value="1"
					Type="integer"
					KeyPath="yes" />

			<Shortcut Id="desktopSC"
					Target="[INSTALLFOLDER]RockPaperScissorsWithAI.exe"
					WorkingDirectory="INSTALLFOLDER"
					
					Directory="DesktopFolder"
					Name="Rock Paper Scissors With AI"
					Advertise="no"/>
		</Component>
	</Fragment>

</Wix>
